# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WebApplication4/packages/repositories.config
WebApplication4/SignalRMvc.v12.suo
WebApplication4/packages/repositories.config
WebApplication4/packages/repositories.config
WebApplication4/WebApplication4/bin/WebApplication4.dll
WebApplication4/WebApplication4/bin/WebApplication4.pdb
WebApplication4/.vs/SignalRMvc/v15/.suo
*.dll
WebApplication4/.vs/SignalRMvc/v15/.suo
WebApplication4/WebApplication4/bin/WebApplication4.dll
WebApplication4/WebApplication4/bin/WebApplication4.pdb
WebApplication4/WebApplication4/obj/Debug/CoreCompileInputs.cache
WebApplication4/WebApplication4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WebApplication4/WebApplication4/obj/Debug/SignalRMvc.csproj.FileListAbsolute.txt
WebApplication4/WebApplication4/obj/Debug/WebApplication4.dll
WebApplication4/WebApplication4/obj/Debug/WebApplication4.pdb
